In [2]:
print "Hello world!"

Hello world!

In [3]:
print 4 + 2

6

In [4]:
print 4 * 2

8

In [5]:
print 4 / 2

2

In [6]:
print 4*2

8

In [7]:
first_baby_name = "DANIEL"

In [8]:
print first_baby_name

DANIEL

In [9]:
!head Most_Popular_Baby_Names__2009-2013.csv

YEAR,GENDER,NAME,COUNT
2009,MALE,DANIEL,3423
2009,MALE,ANTHONY,3106
2009,MALE,ANGEL,3058
2009,MALE,JACOB,2978
2009,MALE,ALEXANDER,2905
2009,MALE,ETHAN,2687
2009,MALE,DAVID,2648
2009,MALE,ANDREW,2605
2009,MALE,MATTHEW,2435

In [10]:
first_baby_number = 3423
second_baby_number = 3106
third_baby_number = 3058

In [11]:
top_three_names = first_baby_number + second_baby_number + third_baby_number

In [12]:
print top_three_names

9587

In [13]:
print 3423 + 3106 + 3058

9587

In [14]:
top_three_names = first_baby_number + second_baby_number + third_baby_number

In [15]:
print top_three_names

9587

In [16]:
second_baby_number = 0

In [17]:
print second_baby_number

0

In [18]:
top_three_names

9587

In [19]:
top_three_names = first_baby_number + second_baby_number + third_baby_number
print top_three_names

6481

In [20]:
%whos

Variable             Type    Data/Info
--------------------------------------
first_baby_name      str     DANIEL
first_baby_number    int     3423
second_baby_number   int     0
third_baby_number    int     3058
top_three_names      int     6481

## There are rules

    False      class      finally    is         return
    None       continue   for        lambda     try
    True       def        from       nonlocal   while
    and        del        global     not        with
    as         elif       if         or         yield
    assert     else       import     pass
    break      except     in         raise

In [21]:
print "there are rules"

there are rules

In [22]:
try_this = "it worked!"

In [23]:
two_chainz = "no problem"
_fine_but = "leading underscores are legal, but they have special meaning"

In [24]:
# the following will all raise exceptions:
2_chainz = "not ok"

SyntaxError: invalid syntax (<ipython-input-24-f52c753c51ca>, line 2)

In [25]:
wont-work = "nope"

SyntaxError: can't assign to operator (<ipython-input-25-daf6db172d4c>, line 1)

In [26]:
new_var = "hello" # comment after variable assignment

In [27]:
beginning = "2"
end = "Chaniz"
print beginning, end

2 Chaniz

In [28]:
print beginning, end, beginning

2 Chaniz 2

In [29]:
rapper = beginning + end
print rapper

2Chaniz

In [30]:
rapper = beginning + " " + end
print rapper

2 Chaniz

In [31]:
print rapper.upper()

2 CHANIZ

In [32]:
print rapper.lower()

2 chaniz

In [33]:
print len(rapper)

8

In [34]:
i = 12
f_1 = 12.27
f_2 = 12.

In [35]:
type(i)

int

In [36]:
type(f_1)

float

In [37]:
type(f_2)

float

In [38]:
type(12)

int

In [39]:
beginning = "2"
dos = 2
end = "Chainz"

In [40]:
rapper = beginning + end
print rapper

2Chainz

In [41]:
rapper = dos + end
print rapper

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
2 + 3

5

In [43]:
print "2" + "3"

23

In [44]:
2 + "3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
type(dos)

int

In [46]:
print dos

2

In [47]:
str_dos = str(dos)
type(str_dos)

str

In [48]:
rapper = str_dos + end
print rapper

2Chainz

In [49]:
rapper = str(dos) + end
print rapper

2Chainz

In [50]:
pi = 3.14
str_pi = str(pi)
type(pi)

float

In [51]:
type(pi)

float

In [52]:
print beginning

2

In [53]:
type(beginning)

str

In [54]:
int_beginning = int(beginning)
type(int_beginning)

int

In [55]:
fl_beginning = float(beginning)
type(fl_beginning)

float

In [56]:
str_human_body_temp = "98.6"

In [57]:
fl_hbt = float(str_human_body_temp)
type(fl_hbt)

float

In [58]:
int_hbt = int(str_human_body_temp)
type(int_hbt)

ValueError: invalid literal for int() with base 10: '98.6'

In [59]:
int_hbt = int(fl_hbt)
type(int_hbt)

int

In [60]:
print int_hbt

98

In [61]:
print fl_hbt

98.6

In [62]:
jrs = "Joshua Ryan Smith"
print jrs

Joshua Ryan Smith

In [63]:
print jrs.upper()

JOSHUA RYAN SMITH

In [64]:
dir(jrs)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_formatter_field_name_split',
 '_formatter_parser',
 'capitalize',
 'center',
 'count',
 'decode',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [65]:
jrs.capitalize()

'Joshua ryan smith'

In [66]:
%whos

Variable              Type     Data/Info
----------------------------------------
beginning             str      2
dos                   int      2
end                   str      Chainz
f_1                   float    12.27
f_2                   float    12.0
first_baby_name       str      DANIEL
first_baby_number     int      3423
fl_beginning          float    2.0
fl_hbt                float    98.6
i                     int      12
int_beginning         int      2
int_hbt               int      98
jrs                   str      Joshua Ryan Smith
new_var               str      hello
pi                    float    3.14
rapper                str      2Chainz
second_baby_number    int      0
str_dos               str      2
str_human_body_temp   str      98.6
str_pi                str      3.14
third_baby_number     int      3058
top_three_names       int      6481
try_this              str      it worked!
two_chainz            str      no problem

In [67]:
baby_names = ["DANIEL", "ANTHONY", "ANGEL", "JACOB", "ALEXANDER"]

In [68]:
for name in baby_names:
    print name

DANIEL
ANTHONY
ANGEL
JACOB
ALEXANDER

In [69]:
for name in baby_names:
    print "hello"

hello
hello
hello
hello
hello

In [70]:
!head Most_Popular_Baby_Names__2009-2013.csv

YEAR,GENDER,NAME,COUNT
2009,MALE,DANIEL,3423
2009,MALE,ANTHONY,3106
2009,MALE,ANGEL,3058
2009,MALE,JACOB,2978
2009,MALE,ALEXANDER,2905
2009,MALE,ETHAN,2687
2009,MALE,DAVID,2648
2009,MALE,ANDREW,2605
2009,MALE,MATTHEW,2435

In [71]:
baby_numbers = [3423, 3106, 3058, 2978, 2905]

In [72]:
total_baby_numbers = 0

for baby_number in baby_numbers:
    total_baby_numbers = total_baby_numbers + baby_number

print total_baby_numbers

15470

In [73]:
baby_entry = {"year": 2009, "gender": "male", "name": "DANIEL", "count": 3423}

In [74]:
for item in baby_entry:
    print item

count
gender
name
year

In [75]:
print rapper

2Chainz

In [76]:
for ch in rapper:
    print ch

2
C
h
a
i
n
z

In [77]:
b0 = {"year": 2009,
    "gender": "male",
    "name": "DANIEL",
    "count": 3423,}

b1 = {"year": 2009,
    "gender": "male",
    "name": "ANTHONY",
    "count": 3106,}

b2 = {"year": 2009,
    "gender": "male",
    "name": "ANGEL",
    "count": 3058,}

b3 = {"year": 2009,
    "gender": "male",
    "name": "JACOB",
    "count": 2978,}

b4 = {"year": 2009,
    "gender": "male",
    "name": "ALEXANDER",
    "count": 2905,}

babies = [b0, b1, b2, b3, b4]

In [78]:
babies[0]

{'count': 3423, 'gender': 'male', 'name': 'DANIEL', 'year': 2009}

In [80]:
total_baby_numbers = 0

for baby in babies:
    total_baby_numbers = total_baby_numbers + baby["count"]
    
print total_baby_numbers

15470

In [81]:
for baby in babies:
    print baby["name"]
    print baby["count"]

DANIEL
3423
ANTHONY
3106
ANGEL
3058
JACOB
2978
ALEXANDER
2905

In [82]:
with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    baby_data = f.readlines()

In [83]:
type(baby_data)

list

In [84]:
print len(baby_data)

295193

In [86]:
baby_data[-1]

'2013,-,ASHTON,1\n'

In [87]:
with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    baby_data = f.read()

In [88]:
type(baby_data)

str

In [89]:
len(baby_data)

6367691

In [90]:
with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    baby_data = f.readline()

In [91]:
type(baby_data)

str

In [92]:
len(baby_data)

23

In [93]:
print baby_data

YEAR,GENDER,NAME,COUNT

In [94]:
with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    baby_data = f.readlines()

In [95]:
type(baby_data)

list

In [96]:
print baby_data[:10]

['YEAR,GENDER,NAME,COUNT\n', '2009,MALE,DANIEL,3423\n', '2009,MALE,ANTHONY,3106\n', '2009,MALE,ANGEL,3058\n', '2009,MALE,JACOB,2978\n', '2009,MALE,ALEXANDER,2905\n', '2009,MALE,ETHAN,2687\n', '2009,MALE,DAVID,2648\n', '2009,MALE,ANDREW,2605\n', '2009,MALE,MATTHEW,2435\n']

In [97]:
print "hello\nworld"

hello
world

In [98]:
baby_data = []

with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    for line in f:
        baby_data.append(line.strip())

In [99]:
print baby_data[:10]

['YEAR,GENDER,NAME,COUNT', '2009,MALE,DANIEL,3423', '2009,MALE,ANTHONY,3106', '2009,MALE,ANGEL,3058', '2009,MALE,JACOB,2978', '2009,MALE,ALEXANDER,2905', '2009,MALE,ETHAN,2687', '2009,MALE,DAVID,2648', '2009,MALE,ANDREW,2605', '2009,MALE,MATTHEW,2435']

In [100]:
ex_str = "     lots of whitespace here      \n"

In [101]:
print ex_str

     lots of whitespace here

In [102]:
print ex_str.strip()

lots of whitespace here

In [103]:
print baby_data[0]

YEAR,GENDER,NAME,COUNT

In [108]:
with open("2011_baby_data.csv", "w") as f:
    f.write(baby_data[0] + "\n")

In [105]:
start_line = 120460
end_line = 179044

In [109]:
with open("2011_baby_data.csv", "a") as f:
    for line in baby_data[start_line:end_line]:
        f.write(line + "\n")

In [110]:
data_2011 = "\n".join(baby_data[start_line:end_line])

with open("2011_baby_data.csv", "w") as f:
    f.write(data_2011)

In [111]:
with open("2011_baby_data.csv", "a") as f:
    f.write("not,really,actual,data")